/*seller_profile*/
.seller_profile{background: #f9f9f9;  box-shadow: 0 0 10px rgba(0,0,0,0.1); padding: 35px; border-radius: 8px; margin:25px	 auto; width: 60% }
.wizards {border-bottom: #ccc dashed 2px; height:80px; margin: 0 0 90px 0}
.wizards li{float: left; width: 20%; margin: 0 2.5%; text-align: center;}
.wizards li a{background: #f9f9f9; color: #000; font-weight: 700; padding:35px 25px; border-radius: 4px; margin: 7px 0 0 0;  box-shadow: 0 0 10px rgba(0,0,0,0.1); display: block; text-align: center;}
.wizards li  span{color: #666; font-size: 14px}

.shadow_01{background: #f9f9f9;  box-shadow: 0 0 10px rgba(0,0,0,0.1); border: 0}
.card_area .all_listing li{padding: 5px 0 9px 0; border-bottom: #f2f2f2 solid 1px;}
.all_list .h5{margin: 0 0 15px 0; padding: 0 0 12px 0; border-bottom: solid #f2f2f2 1px; }

.seller_forms{background: #f9f9f9;  box-shadow: 0 0 10px rgba(0,0,0,0.1); padding: 35px; border-radius: 8px; margin:45px auto; width: 60% }