
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraLight.woff2') format('woff2'),
        url('../fonts/Muli-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraBold.woff2') format('woff2'),
        url('../fonts/Muli-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-SemiBold.woff2') format('woff2'),
        url('../fonts/Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Medium.woff2') format('woff2'),
        url('../fonts/Muli-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Regular.woff2') format('woff2'),
        url('../fonts/Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.woff2') format('woff2'),
        url('../fonts/Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Black.woff2') format('woff2'),
        url('../fonts/Muli-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Bold.woff2') format('woff2'),
        url('../fonts/Muli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
padding:0;
margin:0; 
 font-family: 'Muli';
font-size: 16px;
font-weight: 500;
}

a {
  transition: 0.5s;
}
ul{margin: 0; padding: 0; list-style: none;}
a:hover,
a:active,
a:focus {

  outline: none;
  text-decoration: none;
}
strong{font-weight: normal !important; }
p {
  padding: 0;
  margin: 0 0 0 0;
  font-size: 16px;
  line-height: 18px;

}

ul{margin: 0; padding: 0; list-style: none;}
h1{font-size:18px; text-transform: uppercase; font-weight: 600}
h2{font-size:18px; text-transform: uppercase; font-weight: 700}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0;
}

.btn{padding: 7px  30px; display: block; width: 100%}
.btn-primary{ border-radius: 6px; border:0; display: inline-block; text-align: center; padding: 10px 20px; }
.btn-dark{ border-radius: 6px; border:0; display: inline-block; text-align: center; padding: 10px 20px; }
.btn-secondary{ border-radius: 6px; display: block; text-align: center; padding: 10px 20px; }
.border-primary{ border-radius: 6px; display: block; text-align: center; padding: 10px 20px; }
.border-secondary{ border-radius: 6px; display: block; text-align: center; padding: 10px 20px; }
.btn-blank{font-size: 16px; font-weight: 600 }

/*Header css*/
header{padding-bottom: 20px; }
header .cat_dropdown .dropdown-item{padding: 8px 15px !important; }
header .cat_dropdown{   border-radius: 0px; border: 0}
header .cat_dropdown ul a{color: #000; padding: 7px 16px; display: block;}
header .cat_dropdown ul a:hover{background: #e11e26 !important; color: #fff; }
header .universal_cat{border-radius: 80px;    border: #ccc solid 2px;    width: 100%;    display: block;    text-align: center;    color: #000;    padding: 13px;}
.dropdown-menu.show{right: 0 !important; left: auto;}
.top_header button{border: 0; background: none;}
.top_header .dropdown-menu{border-radius: 0px; border:0 !important; -webkit-box-shadow:0 0 10px rgba(0,0,0,.08));
-moz-box-shadow: 0px 0px 7px 0px rgba(230,230,230,1);
box-shadow: 0px 0px 7px 0px rgba(230,230,230,1);}
.user_acount a{ font-size: 16px;}
.search_area{ position: relative; border-radius: 70px; padding: 0;  width: 100%}
.search_area select{padding: 0 0; border: 0; outline: none;   height: 50px;    width: 23%; border-radius: 80px;    margin: 0 10px 0 20px;}
.search_area input{border: 0; border-left:#ccc solid 1px; width: 62%; outline: none; padding:12px  15px;border-left: 0px; margin-left: 20px;}
.search_area button{ outline: none; position: absolute; right:3px; border-radius: 0 80px 80px 0; width: 70px; font-size: 22px; padding: 0; height:46px;   top:2px; border: 0}
.cart_block ul li{display: inline-block; margin: 0 15px;}
.cart_block ul li a i{font-size:27px;}
.cart_block ul li a span{float: right; margin: -4px 24px 0 13px; line-height:15px; text-align: left;}
.delivery_process {display: flex;}
.delivery_process span{flex: 1 1 auto}
.delivery_process span h4{font-weight: 800; display: inline-block; margin: 0 0px 0 17px; font-size: 16px; text-transform: uppercase;}
.delivery_process span i{float: left; font-size: 28px; margin: 4px 0 0 0;}
.delivery_process span small{display: block; margin:4px 0 0 0; font-size: 11px; font-weight:700;}
.list_items_block {display: flex;}
.list_items_block li{flex:1 1 auto; }
.list_items_block li a{padding:20px 5px 0px 5px; display: inline-block; font-weight: 700}

/*Banner*/

/*Categories Menu*/
.categories{margin: -52px 0 0 0; border-radius:15px;}
.categories ul li{padding:8px 10px; display: block;}
.carousel-indicators{    position: relative;
    opacity: 10;
    display: inline-block;
    margin: 0;
    width: 100%;}
.carousel-indicators li{     margin: 0 1%;
    float: left;
    width: 10.5% !important;
    height: auto; opacity: 10}
.carousel-indicators img{width:100% !important;   border-radius: 12px !important;}
.carousel-indicators li{text-indent: 0; width: auto;}
.main_slider img{width: 100%; border-radius: 20px; border: 0}
.main_slider{margin: 15px 0 0 0; }

/*three column*/
.three_col .col1{border-radius: 10px; min-height: 186px; position: relative; margin: 20px 0 0 0}
.three_col .col1 img{position: absolute; right: 0px; top:10%; }
.three_col .text-heading{position: absolute; left: 10%; top:30%; z-index: 1 }
.three_col .text-heading a{ padding: 7px 15px; border-radius: 4px; font-weight: 800; text-transform: uppercase; display: inline-block; margin: 15px 0 0 0}
.three_col .text-heading  h3{font-size:24px; font-weight: 600}
.sell_products h3{font-size:24px; margin: 50px 0 0 0;  font-weight: 600}
.sell_products h4{font-size:18px; font-weight: 600; }
.sell_products a{ padding: 7px 22px; border-radius: 4px; font-weight: 600; text-transform: uppercase; 
    display: inline-block; margin: 15px 0 0 0}

/*Todays Deals*/
.today_deals{margin: 40px 0}
.today_deals img{width: 100%}
.today_deals span.timer{position: absolute; right: 10%; top: 5%; color: #fff;}
.today_deals .offers{position: absolute; right: 4%; bottom: 5%;}
.today_deals .offers h3{font-weight: 700; font-size:15px; text-align: right; margin: 0 10px 0 0;   }
.today_deals .offers h4{ margin: 5px 0 0 0; padding: 6px 10px; border-radius: 7px 0 0px 7px; text-transform: uppercase; background: #fff;  font-weight: 800; font-size:17px;}
.today_deals .offers h5{ padding: 6px 10px; border-radius: 7px 0 0px 7px; text-transform: uppercase; width:90%; float: right; text-align: right; font-weight: 800; font-size:16px;}

/*Trending Products*/
.trend_pro_box:hover{-webkit-box-shadow: 0px 0px 20px 5px rgba(227,227,227,1);
-moz-box-shadow: 0px 0px 20px 5px rgba(227,227,227,1);
box-shadow: 0px 0px 20px 5px rgba(227,227,227,1);}
.trend_pro_box{border-radius:15px; text-align: center; padding: 40px 0}
.trend_pro_box img{margin: 0 0 15px 0}
.trend_pro_box h4{ font-size: 18px; font-weight: 800}
.trend_pro_box h3{  font-size: 16px; font-weight:600; margin: 5px 0}
.trend_pro_box span{ font-size: 16px; font-weight:800; margin: 5px 0}
.trend_pro_box span.offer_price{  text-decoration: line-through; margin: 0 0 0 10px}
.trending_products .cat_list{margin: 0; padding: 0; float: right;}
.trending_products .cat_list li{display: inline-block;}
.trending_products .cat_list li a{font-size: 14px; font-weight: 700; padding: 0 10px 3px 10px}
.trend_pro_box .new_offer{ width: 40px; height: 40px; display: inline-block; 
    position: absolute; border-radius: 80px; font-weight: 600; color: #fff; left: 15px; 
    top: 15px; font-size: 14px; line-height: 40px;}
.trend_pro_box .top_offer{ width: 40px; height: 40px; display: inline-block; 
    position: absolute; border-radius: 80px; font-weight: 600; color: #fff; left:50px; 
    top: 15px; font-size: 14px; line-height: 40px;}    
.trend_pro_box .sale_offer{ width: 40px; height: 40px; display: inline-block; 
    position: absolute; border-radius: 80px; font-weight: 600; color: #fff; left:85px; 
    top: 15px; font-size: 14px; line-height: 40px;}    

.trend_pro_box .wishist{display: none; }
.trend_pro_box:hover .wishist{ width: 40px; height: 40px; display: inline-block; 
    position: absolute; border-radius: 80px; font-weight: 600; color: #fff; right: 15px; 
    top: 15px; font-size: 18px; line-height: 43px;}
    .trend_pro_box .cart_footer{display: none; }
.trend_pro_box:hover .cart_footer{display: inline-block; position: absolute; bottom: 0; left: 0; width: 100%; border-radius: 0 0 15px 15px}
.trend_pro_box .cart_footer ul{margin: 0; padding: 0;}
.trend_pro_box .cart_footer ul li{display: inline-block;}
.trend_pro_box .cart_footer ul li a{font-size: 22px; display: inline-block; padding: 10px 40px;}
.bordernone{border: none !important}
.three_col2 .col1{border-radius: 10px; min-height: 186px; position: relative; margin: 20px 0 0 0}
.three_col2 .col1 img{ float: right;  margin: 20px 20px 0 0 }
.three_col2 .text-heading{ float: left; margin:10% 0 0 10%; z-index: 1 }
.three_col2 .text-heading a{ padding: 7px 15px; border-radius: 4px;  font-weight: 800; text-transform: uppercase; 
    display: inline-block; margin: 15px 0 0 0}
.three_col2 .text-heading  h3{font-size:24px; font-weight: 600}

/*Fashion Products*/
.fashion_products{ padding:30px 0}
.fashion_products .cat_list{margin: 0; padding: 0; float: right;}
.fashion_products .cat_list li{display: inline-block;}
.fashion_products .cat_list li a{ text-transform: uppercase; font-size: 14px; font-weight: 700; 
    padding: 0 10px 3px 10px}
.pp_item{margin:10% 0 10% 0}
.pp_item h2{text-transform: none;}
.pp_item .vendors{color: #ccc; }
.pp_item .price {font-weight: 800}
.pp_item .price span.offer_price {
    margin: 0 10px;
}
.pp_item .add_cart{ cursor:pointer;  height: 42px; line-height: 45px; position: absolute; right: 12%; top: 55%; 
    display: inline-block; text-align: center; font-size: 22px; width: 42px; border-radius: 80px;}
.fashion_products .tab-content .col-md-6:nth-child(2) {border-right: transparent solid 1px;}
.fashion_products .tab-content .col-md-6:nth-child(4) {border-right: transparent solid 1px;}
.fashion_products .tab-content .col-md-6:nth-child(6) {border-right: transparent solid 1px;}
.fashion_products .tabs_container{width: 100%}
.fashion_products .tabs_container img{width: auto; animation-duration: 0s;}
.fashion_products .tab-content{    width: 85%;  border-right: 1px solid #DCDBDB;
     display: block; margin: 0 0 0 -2px; 
    float: left;}
.fashion_products .nav.nav-tabs{
    width: 15%;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 0;
    border-right: 1px solid transparent;
    z-index: 10;
    position: relative;
   

}

.fashion_products .nav-tabs .nav-link {
   
    border-left: transparent solid 4px;
   
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.fashion_products .tab-content>.active {
    display: block;
   
    min-height: 165px;
    padding: 20px;
     border-right:  transparent solid 1px !important;
}

/*Adds Banner Css*/
.add_banner1 img{width: 100%}

/*Newsletter*/
.newsletter {
    margin-top: 35px;
padding: 80px 0;
}

.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #243c4f;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: #ffffff;
border-radius:0;
}
.newsletter .content.form-control:focus {
box-shadow: none;
}
.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
font-weight:600;
}
.backtotop{padding: 12px 0; text-align: center; }



/*Footer Css*/
.footer{padding: 45px 0 0 0}
.footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    
}
.footer a {
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.footer ul.social li{
    padding: 3px 0;
}
.footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
.footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}

.footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
.footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
.footer ul.quick-links li a i{
    margin-right: 5px;
}
.footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.social_icons{margin: 10px 0 0 0}
.social_icons a{
width:30px; height: 30px; font-size: 14px; line-height: 33px; display: inline-block; text-align: center; 
border-radius: 80px;
}
.top_brands{margin: 50px 0 0 0}
.top_brands a{ padding: 0 10px 0 0; font-size: 13px;}





/******************
Inner Pages
***********************/
/*Add Banners*/
.product_banners {margin-top: -65px;}
.product_banners img{width: 100%}


/*Filters*/
.products_filters .col-md-3{border: #DBDBDB solid 1px; padding: 15px;}
.products_filters .refresh a{color: #e11e26; font-weight: 800; display: block;}
.products_filters .refresh h5{margin: 8px 0 0 0}
.products_filters span{border-left: #DBDBDB solid 1px;
    margin: -15px 0;
    padding: 15px 13px 14px 28px;
    text-align: center;
    font-size: 26px;}
.sortby select{border:0; }
.showPro select{border:0; }
.views a{color: #e11e26; font-weight: 800; margin:3px 15px 0 0; display: inline-block; font-size: 22px; }
.views .listview{color: #D5D5D5 !important;}
 .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Category side bar Filters*/
.products_block .col-md-3{border: #DBDBDB solid 1px; padding: 15px;}
.products_block .col-md-9{border: #DBDBDB solid 1px; padding: 0;}
.products_container{margin: -1px}
.products_container .col-md-4{ padding: 0;}
.products_container .col-md-3{ padding: 0;}
.products_container .products_wrapper{ padding: 20px ; border: #DBDBDB solid 1px; }
.products_container .products_wrapper h2{font-size: 20px; text-transform: none;}
.products_container .products_wrapper h3{font-size: 18px; font-weight: 800}
.products_container .products_wrapper figure{text-align: center;}
.products_container .products_wrapper .hover_state{position: absolute; left: 00; top: 0; width: 100%; height: 100%; padding: 30px; display: none;}
.products_container .products_wrapper:hover .hover_state{display:block;}
.products_container .hover_state h2{font-size: 20px; margin: 25px 0 0px 0;  float: left; width: 100%; text-transform: none;}
.products_container .hover_state h3{font-size: 18px; float: left; width: 100%; font-weight: 800}
.products_container .hover_state h4{margin: 15px 0 0 0}
.products_container .hover_state a{-webkit-box-shadow: 0px 0px 5px 0px rgba(158,8,8,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(158,8,8,1);
box-shadow: 0px 0px 5px 0px rgba(158,8,8,1); 
float:left; margin: 0 7px 0 0; border-radius:5px; display: inline-block; padding:7px 15px;}
.products_container .hover_state a i{font-size: 22px; margin: 2px 5px 0 0; float: left; }
.products_container .hover_state .wishlist{padding:8px 13px 7px 13px;}
.products_container .hover_state .view{padding:8px 13px 7px 13px;}
.products_container .hover_state .compare{padding:8px 13px 7px 13px;}
.products_container .hover_state .compare i{font-size: 22px; margin: 0px 0px 1px 0; float: left; }
.products_container .hover_state .cart{position: absolute; bottom: 12%;}



/*products_sidebar_menu*/
.products_sidebar_menu .card{border: 0}
.products_sidebar_menu .card-header i{float: right;}
.products_sidebar_menu .card-header h5{font-weight: 700; font-size: 18px;}
.products_sidebar_menu .card-header {
    padding:.75rem 1.2rem !important;
    margin-bottom: 0;
    text-transform: uppercase;
    color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: transparent;
    border-bottom: 0;
}
.products_sidebar_menu .card-body {
    padding: 0px 1.25rem 1.25rem 1.25rem;
}
.products_sidebar_menu .card-body ul li a{padding: 7px 0; display:block;}
.products_sidebar_menu .card-body ul li a span{float: right; color: #666}
.products_sidebar_menu  .range_Slider{padding:25px 0px 40px 0px; }

.products_sidebar_menu .brands{width: 100%; padding: 15px 0}
.products_sidebar_menu .brands .form-group {
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.products_sidebar_menu .brands .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.products_sidebar_menu .brands .form-group label {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.products_sidebar_menu .brands .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #e11e26;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: auto;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.products_sidebar_menu .brands .form-group input:checked + label:after {
content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: 14px;
    width: 7px;
    height: 12px;
    border: solid #e11e26;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/*Color select*/
.products_sidebar_menu .choose_color{width: 100%; padding: 15px 0}
.products_sidebar_menu .choose_color .form-group {
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.products_sidebar_menu .choose_color .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.products_sidebar_menu .choose_color .form-group label {
  position: relative;
  cursor: pointer;
  width: 100%;
}


.products_sidebar_menu .choose_color .form-group .green:before {
    border: 2px solid green;
    background: green;}
.products_sidebar_menu .choose_color .form-group .red:before {
    border: 2px solid red;
    background: red;}
.products_sidebar_menu .choose_color .form-group .orange:before {
    border: 2px solid orange;
    background: orange;}
.products_sidebar_menu .choose_color .form-group .yellow:before {
    border: 2px solid yellow;
    background: yellow;}


.products_sidebar_menu .choose_color .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: auto;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.products_sidebar_menu .choose_color .form-group input:checked + label:after {
content: '';
    display: block;
    position: absolute;
    top: 4px;
    right:14px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.pagination .page-link {
    position: relative;
    display: block;
    padding: 9px 20px 10px 20px;
    margin-left: -1px;
    line-height: 1.25;
    color: #e11e26;
    background-color: #fff;
    border: 1px solid #dee2e6;
}



/*product Detail page Css*/
.product_detail{margin:-70px 0 50px 0}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;/*flex*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0;
      border: #eaeaea solid 1px;
     display: block;
       }
.preview-thumbnail.nav-tabs li .active {border-bottom:#e11e26  solid 2px;}       
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.wrapper_details  .tab-content {
  overflow: hidden; }
.wrapper_details  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.wrapper_details .tab-content .card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper_details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.wrapper_details .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper_details .colors {
  margin: 0 0 20px 0 }
.wrapper_details .input-group, .wrapper_details input.test-value-input {
    max-width: 200px;
}
.range_nunber{margin: 0 0 20px 0}
.wrapper_details .product-title, .wrapper_details .price, .wrapper_details .sizes, .wrapper_details .colors {
 
  font-weight: bold; }

.wrapper_details .checked, .wrapper_details .price span {
  color: #ff9f1a; }
.wrapper_details .form-control{padding: 19px}
.wrapper_details .btn-outline-secondary {
    color: #666;
    border-color: #d4d4d4;
    padding: 0 4px !important;
}
.wrapper_details .product-title, .wrapper_details .rating, .wrapper_details .product-description, .wrapper_details .price, .wrapper_details .vote, .wrapper_details .sizes {
  margin-bottom: 15px; }
.size{color: #ccc}
.size.active{color: #E11E26}
.wrapper_details .product-title {
  margin-top: 0; }

.wrapper_details .size {
  margin-right: 10px; }
  .wrapper_details .size:first-of-type {
    margin-left: 40px; }

.wrapper_details .color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.wrapper_details .color:first-of-type {
    margin-left: 20px; }

.wrapper_details .add-to-cart, .wrapper_details .like {
  background: transparent;
  padding: 1.2em 0;
  border: none;
   margin: 0 25px 0 0;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }


.wrapper_details .not-available {
  text-align: center;
  line-height: 2em; }
 .wrapper_details .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.wrapper_details .orange {
  background: #ff9f1a; }

.wrapper_details .green {
  background: #85ad00; }

.wrapper_details .blue {
  background: #0076ad; }

.wrapper_details .tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


.vprofile{ color:#E11E26; margin: 0 0 20px 0}
.vprofile .view_profile{ border:  #E11E26 solid 2px; text-transform: uppercase; color: #E11E26; font-weight: 700; font-size: 12px; padding: 5px 8px  4px 8px;border-radius: 5px;}
/*# sourceMappingURL=style.css.map */

.product_detail .addtocart_d{
        background: #E11E26;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 12px 4px 12px;
    border-radius: 5px;
    margin: 0 0px 0 10px; 
}
.product_detail .addtocart_d i{font-weight: 600; font-size: 16px;  }
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #e11e26;
    border-color: #e11e26;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #e11e26 !important;
    border-color: #e11e26 !important;
}
/*product Detail page Css Ends*/



/*Reviews css*/
.reviews{
margin: 25px 0 25px 0
}

.reviews .glyphicon-star {
  color:gold;
}
.reviews span.glyphicon-calendar {
  padding-left:20px;
}
.reviews .fa-facebook-official {
  color:#3b5998;;
}
.reviews .fa-twitter-square {
  color:#00aced;
}
.reviews .fa-google-plus {
  color: #dd4b39;    
}
.reviews .share_btn{
    background: #E11E26;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 12px 8px 12px;
    border-radius: 5px;
}
.reviews .list-inline {
    float: right;
}

/*Similar Products css*/
.similar_products{margin: 35px 0; border-top:#ccc solid 1px; }
.similar_products .tag_sm{display: block; color: #E11E26; font-size: 45px; font-weight: 800}






/*Nb css start*/

.white-bg {background: #fff; box-shadow: 0px 0px 25px rgba(160, 160, 160, 0.25);}
.form-control {border: 1px solid #d5d5d5; padding: 1.4rem .75rem;}
textarea.form-control {padding: 1rem .75rem 3rem;}
.btn.delivery-here {background: #e11e26 !important; border-color: #e11e26; margin-top: 20px; color: #fff !important;}
.btn.btn-default {border: 0;background: none!important;color: #e11e26 !important;font-weight: 700;}
.btn.btn-login {border: 1px solid #d5d5d5; padding: 10px 20px;}
.btn.btn-login span {color: #e11e26;}
.btn.btn-apply {background: #e11e26 !important; border-color: #d5d5d5; width: 115px; padding: 8px 20px; color: #fff; text-transform: uppercase; font-weight: 700; display: inline-block; }
.btn-return {background: #e11e26 !important; border-color: #d5d5d5; width: 250px; padding: 10px 0; color: #fff; text-transform: uppercase; font-weight: 700; display: inline-block;  }
.mt-minus {margin-top: -72px;}
.inner-page-content h2 {font-size: 30px;font-weight: 700;}
.star-rating span.fa {font-size: 30px;}
.checked {
  color: #e11e26;
}

/******************** Breadcrumb ********************/
.breadcrumb-container {text-align: center; background: #342d3f; padding:30px 0 60px 0;}
.breadcrumb-container h1 {color: #fff;}
.breadcrumb-container .breadcrumb {justify-content: center; background: transparent;}
.breadcrumb-container .breadcrumb .breadcrumb-item a {color: #585363;}
.breadcrumb-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {font-family: 'FontAwesome'; content: "\f105"; font-size: 17px; color: #585363; padding-left: 5px; }

/******************** Tabs ********************/
.nav.nav-pills.nav-pills-container .nav-link {background: #f3f3f5; border-radius: 0; color: #afafbc; text-transform: uppercase; padding: 1.5rem 1rem; font-weight: 700; }
.nav.nav-pills.nav-pills-container .nav-link.active, .nav.nav-pills.nav-pills-container .show>.nav-link {background-color: #e11e26; color: #fff;}

/******************** Cart ********************/
.table-content table {
    background: #fff none repeat scroll 0 0;  
    text-align: center;
    width: 100%;
}
.table-content table th {
    border-top: medium none;
    font-weight: 700;
    padding: 20px 10px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 16px;
}
.table-content table th, .table-content table td {
    border-bottom: 1px solid #d5d5d5;
}
.table-content table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.table-content table td.product-name a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.table-content table td.product-name a span {
    display: block;
    font-size: 13px;
    color: #afafbc;
}
.table-content table td.product-quantity .btn-group {
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px rgba(213,213,213,1);
}
.table-content table td.product-quantity .btn-group .btn:focus {box-shadow: 0 0 0 0.2rem rgba(225, 30, 38, .25);}
.table-content table td.product-remove a {width: 45px;
    height: 45px;
    border: 1px solid #d5d5d5;
    display: inline-block;
    border-radius: 50%;
    line-height: 42px;
    color: #585858;
}
.table-content table td.product-thumbnail {width: 170px; }
.table-content table td.product-name {width: 270px; }
.table-content table td.product-price {width: 130px; }
.table-content table .product-price .amount {font-size: 14px; font-weight: 700; color: #afafbc;}
.table-content table td.product-quantity {width: 180px; }
.table-content table td.product-subtotal {font-size: 14px; font-weight: 700; width: 120px; }
.table-content table td.product-remove {width: 150px; }

.apply-coupons .form-control {width: calc(100% - 400px); display: inline-block;border: 0;border-radius: 0;}
.apply-coupons .form-control:focus {box-shadow: none;border-bottom: 1px solid #d5d5d5;}

.delivery-address {margin: 2em 3em; position: relative;}
.delivery-address:after {content: '';border-right: 1px solid #ececec;position: absolute;right: -3em;top: 0;height: 100%;}
.delivery-address ul li {margin-bottom: 30px;}
.delivery-address ul li p {padding-left: 25px; color: #615e5e; font-weight: 600;}
.custom-control-label {font-weight: 700;text-transform: uppercase;}
.custom-control-input:checked~.custom-control-label::before {border-color: #e11e26; background-color: #e11e26;}
.custom-control-input:focus~.custom-control-label::before {box-shadow: 0 0 0 0.2rem rgb(225, 30, 38,.25)}
.custom-radio .custom-control-input:checked~.custom-control-label::after {display: none;}

.delivery-address .form-group .custom-control-label {text-transform: inherit;}
.delivery-address .btn {border-radius: 4px; font-weight: 600;}
.coupans-container {padding: 2em 3em 2em 1em;}
.coupans-container form {padding: 10px 0 6px;}
.coupans-container form input {width: calc(100% - 120px); padding: .4rem 0rem; border:0; vertical-align: middle;}
.coupans-container form input:focus {border-bottom: 1px solid #e5e5e5; outline: none;;}
.price-detail {border-top: 1px solid rgba(0,0,0,.1); margin-top: 1rem; padding: 1rem 0rem 0rem;}
.price-detail .table tr td:last-child {text-align: right;}
.price-detail .table td, .price-detail .table th {border-top: 0; padding: .50rem 0;}
.price-detail h2 {margin-bottom: 8px;}
.price-detail .table:last-child {border-top: 1px solid rgba(0,0,0,.1);}
.price-detail .table:last-child td {font-weight: 700; font-size: 18px;}
.next-step {border-top: 1px solid rgba(0,0,0,.1); margin: 2em 1.5em; text-align: center; padding: 2em 0em;}
.next-step a {text-transform: uppercase; color: #000; font-weight: 700;}
.next-step a i {font-weight: 700; color: #e11e26; font-size: 18px;}

#payment {padding: 2em 3em;}
.select-payment {padding-right: 7rem; border-right: 1px solid #d5d5d5;}
.select-payment:after {content: 'OR'; border: 1px solid #d5d5d5; position: absolute; right: -1.7em; top: 35%; height: 100px; width: 100px; text-align: center; line-height: 100px; border-radius: 100px; background: #fff; color: #afafbc; font-size: 20px; font-weight: 600;}
.select-payment h2 {text-align: center; text-transform: inherit; font-size: 20px; } 
.select-payment .form-cont {border: 1px solid #d5d5d5; padding: 1.5rem; border-radius: 4px; margin-top: 1.5rem;}
.select-payment .form-cont .form-group {padding: 0 1.5rem;}
.select-payment .form-cont .form-group p {color: #615e5e; font-weight: 600; padding: 1rem 0 0 0;}
.select-payment .form-cont .form-group select.form-control {height: auto; padding: .7rem 0.75rem;}
.select-payment .custom-control-label {text-transform: inherit;}
.review-order {padding-right: 7rem; padding-left: 7rem; text-align: center;}
.review-order p {font-size: 20px; font-weight: 700; line-height: 1.6rem;}

/******************** MY ACCOUNT ********************/
.my-account .content h2 {text-transform: inherit; font-weight: 700; font-size: 20px;}
.my-account .content span {font-weight: 700; color: #7f7f7f;}
.my-account .user-nav{border-right: 1px solid #d5d5d5; }
.my-account .user-sidebar-item{padding: .8em; }
.my-account .user-nav-item{text-align:left; padding-left:1.5rem; color: #c4c4ce; transition: all 100ms ease-in;}
.my-account .user-nav-item:hover{color: black;}
.my-account .nav-menu-title{font-weight:bold; text-align:left; padding-left:0.5rem;}
.my-account .user-nav-item.active{font-weight:600; background: none !important; color: black !important; filter: none; background: #f8f6f6 !important; border-radius: 0; }
.my-account .user-header-block{text-align: left; }
.my-account .user-filter-button{background: #78B404; color: white !important; }
.my-account .user-user-card{margin-bottom: 10px; }

/******************** Header Form ********************/
.account-form {margin: 5rem 7rem 5rem 5rem; border: 1px solid #d5d5d5; border-radius: 6px; }
.account-form .form-header {padding-left: 2rem !important; border-bottom: 1px solid #d5d5d5;}
.account-form .form-header h2 {text-transform: inherit; color: #e11e26; font-size: 20px; font-weight: 700;}
.account-form .form-body {padding: 2rem 2rem 4rem;}
.account-form .form-body .btn.delivery-here {margin-top: 10px;}
.account-form .form-body.billing p {color: #b0b0bd; padding: .3rem; padding-left: 0;}
.account-form .form-body.billing p span {color: #212529; font-weight: 700;}
.account-form .form-body.billing a {color: #212529;}
.account-form .form-body.billing a.btn-edit {color: #e11e26; margin-right: 8px;} 

/******************** Athentication required ********************/
.form-verify h2 {text-transform: inherit; font-size: 20px; font-weight: 700; }
.form-verify .form-body {border: 1px solid #d5d5d5; padding: 3rem; border-radius: 4px; }
.form-verify .form-body p {color: #b9b9c4;}

/******************** Login Register ********************/
.login-reg-cont {overflow: hidden;}
.login-reg-cont .form-verify {margin: 3rem 5rem 3rem 5rem;}
.login-reg-cont .form-verify .custom-control-label {text-transform: inherit; color: #6c757d; font-weight: normal;}
.login-reg-cont .form-verify.or:before {content: ''; border-right: 1px solid #d5d5d5; position: absolute; right: 0em; top:3rem; height: 100%;}
.login-reg-cont .form-verify.or:after {content: 'OR'; border: 1px solid #d5d5d5; position: absolute; right: -2.5em; top: 50%; height: 100px; width: 100px; text-align: center; line-height: 100px; border-radius: 100px; background: #fff; color: #afafbc; font-size: 20px; font-weight: 600;}

/******************** Thank You ********************/
.thank-you {padding: 6rem 0;}
.thank-you h1 {font-size: 45px; text-transform: inherit; }
.thank-you p {color: #bebdbd;  line-height: 1.2em; }
.thank-you p  span {color: #e11e26;}
.thank-you .btn.delivery-here {width: 60%; display: inline-block;}

/******************** Order Tracking ********************/
.order-tracking .table-spacer{width: 60%; margin: 0 auto}
.order-tracking h5 {font-size: 16px;}
.order-tracking .table-content table td {border: 0;}
.order-tracking .card {z-index: 0; }
.order-tracking .top {padding-top: 40px; padding-left: 13% !important; padding-right: 13% !important }
#progressbar {margin-bottom: 30px; overflow: hidden; color: #455A64; padding-left: 0px; margin-top: 30px }
#progressbar li {list-style-type: none; font-size: 13px; width: 25%; float: left; position: relative; font-weight: 400 }
#progressbar .step0:before {font-family: FontAwesome; content: "\f10c"; color: #fff }
#progressbar li:before {width: 40px; height: 40px; line-height: 45px; display: block; font-size: 20px; background: #c0c0c0; border-radius: 50%; margin: auto; padding: 0px }
#progressbar li:after {content: ''; width: 100%; height: 12px; background: #c0c0c0; position: absolute; left: 0; top: 16px; z-index: -1 }
#progressbar li:last-child:after {border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute; left: -50% }
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {left: -50% }
#progressbar li:first-child:after {border-top-left-radius: 10px; border-bottom-left-radius: 10px; position: absolute; left: 50% }
#progressbar li:last-child:after {border-top-right-radius: 10px; border-bottom-right-radius: 10px }
#progressbar li:first-child:after {border-top-left-radius: 10px; border-bottom-left-radius: 10px }
#progressbar li.active:before, #progressbar li.active:after {background: #9acd32 }
#progressbar li.active:before {font-family: FontAwesome; content: "\f00c"}
.order-tracking .icon {width: 60px; height: 60px; margin-right: 15px }
.order-tracking .icon-content {padding-bottom: 20px }

/******************** Write Review Form ********************/
.write-review-form button.delivery-here {width: auto;}
.write-review-form .custom-control-label {font-weight: normal;text-transform: inherit;}
.write-review-form ::-webkit-file-upload-button {background: #e11e26;  color: #fff;border: 0;padding:6px;}


/*Nb css Ends*/
.bg-white {
   box-shadow: 0px 0px 25px rgba(160, 160, 160, 0.25);
}
.one-review p{margin-bottom:25px;}


/*compare products*/
.compare_products{}
.compare_products .pr_image img{width: 100%}
.btn-fill-out {
    background-color: transparent;
    border: 1px solid #e11e26;
     background-color: #e11e26;
    color: #fff;
   
    width: auto;
    padding: 14px 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-fill-out:hover {
    color: #fff !important;
     border: 1px solid #000;
     background-color: #000;
}
.compare_products table tr td.row_title {
    width: 270px;
    text-transform: uppercase;
    font-weight: 800;
}
.compare_products .product_name a {
    font-weight: 800;
    color: #000;
}
.compare_products .product_name a:hover {
    color: #e11e26;
    text-decoration: none;
}
.product_color_switch span {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}
.in-stock {
    color: #388e3c;
}
.out-stock {
    color: #dc3545;
}
.row_remove a, .row_remove a:hover {
    color: #FF0000;
}
/*Compare Products*/
.empty-cart{text-align: center;}
.empty-cart span {font-size: 80px; color: #666;}
.empty-cart h1{color: #191919;
    padding: 0;
    margin: 13px 0 0;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: .03em;
    line-height: 44px;}
.empty-cart p {
    margin-top: 2px;
    font-size: 15px;
}

.empty-cart .btn{

}

.tab-style3 .nav-tabs li.nav-item a {
    background-color: transparent;
    display: block;
    padding: .5rem 1rem;
    border-top: 0;
        color: #292b2c;
font-weight: 700;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-align: center;
    text-transform: uppercase;
}
.tab-style3 .nav-tabs .nav-item a.active {
    border-bottom-color: #E11E26;
    color: #E11E26;
}
.tab-content.shop_info_tab {
    margin-top: 40px;
}
.tab-content.shop_info_tab p {
    color: #687188;
    line-height: 28px;
    margin-bottom: 5px;
}

.comment_list {
    margin-bottom: 20px;
}
.comments li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.comment_img {
    float: left;
}
.comment_img img {
    border-radius: 100%;
    max-width: 100px;
}
.comment_block {
    padding-left: 120px;
}
.customer_meta {
    margin-bottom: 5px;
}
.comment_block .rating_wrap {
    float: right;
}
.description p:last-child {
    margin: 0;
}
.review_author {
    display: block;
    color: #292b2c;
    font-weight: 500;
}
.comment-date {
    font-style: italic;
}
.star_rating > span {
    color: #F6BC3E;
}
.star_rating span {
    cursor: pointer;
    display: inline-block;
}
.star_rating span i {
    font-size: 20px;
}
.star_rating > span.selected i::before {
    font-weight: 900;
}
.releted_product_slider .item {
    margin: 10px 0px 0px;
}
.releted_product_slider .product {
    margin-bottom: 15px;
}
.mfp-ajax-holder .compare_box {
    width: 90%;
    margin: 6px auto;
    background-color: #fff;
    position: relative;
    padding: 30px;
}

/*Wishlist*/
.wishlist .product-thumbnail img{ width: 100% }

/*About us*/
.section {
    padding: 100px 0;
    position: relative;
}
.heading_s1 h1, .heading_s1 h2, .heading_s1 h3, .heading_s1 h4, .heading_s1 h5, .heading_s1 h6 {
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
}
.about-us p {
    color: #687188;
    line-height: 28px;
    margin-bottom: 25px;
}

.about-us .icon_box_style4 {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.about-us  .bg_light_blue2 {
    background-color: #F4F9FC !important;
}


.about-us  .icon_box_style4 .icon i {
    background-color: #E11E26;
    color: #fff;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 100%;
    font-size: 24px;
}


.about-us h5{padding: 5px 0; font-weight: 700}


.about-us  .bg_redon {
    background-color: #FFF1F1 !important;
}
.about-us .icon_box_style1 {
    text-align: center;
    padding: 0 40px;
    position: relative;
}
.about-us .icon_box_style1 .icon i {
    font-size: 46px;
    line-height: 1;
}


/*Contact Us*/
.contact_us .contact_style3 {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px 20px;
    border-radius: 10px;
}
.contact_us .contact_style3 .contact_icon {
    border: 1px solid #FF324D;
    margin: 0 0 5px;
    height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.contact_us{}
.contact_us .contact_wrap li {
    list-style: none;
}
.contact_us .contact_wrap li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 25px;
    -ms-flex-align: center;
    align-items: center;
}
.contact_us .contact_icon {
    margin-right: 20px;
}
.contact_us .contact_icon i {
    font-size: 34px;
    color: #FF324D;
}
.contact_us .contact_text span {
    color: #333;
    font-weight: 700;
    display: block;
    margin-bottom: 3px;
}
.contact_us .contact_text p:last-child {
    margin-bottom: 0;
}
.contact_us .contact_text a {
    color: #687188;
    line-height: 28px;
}
.contact_us .contact_text a:hover {
    color: #FF324D;
}
.contact_us .contact_style1 {
    text-align: center;
    padding: 20px;
    border: 2px solid #eee;
    margin-bottom: 30px;
}
.contact_us .contact_style1 .contact_text span {
    margin-bottom: 5px;
}
.contact_us .contact_style1 .contact_icon {
    margin-right: 0;
    margin-bottom: 10px;
}
.contact_us .contact_style2 {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px 20px;
    border-radius: 10px;
}
.contact_us .contact_style2 .contact_icon {
    background-color: #DFFFED;
    margin: 0 0 5px;
    height: 90px;
    width: 90px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.contact_us .contact_style2 .contact_icon i {
    line-height: 90px;
}
.contact_us .contact_style3 {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px 20px;
    border-radius: 10px;
}
.contact_us .contact_style3 .contact_icon {
    border: 1px solid #FF324D;
    margin: 0 0 5px;
    height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.contact_us .contact_style3 .contact_icon i {
    line-height: 78px;
    transition: all 0.5s ease-in-out;
}
.contact_us .contact_style3 .contact_icon::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FF324D;
    z-index: ;
    transition: all 0.5s ease-in-out;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 100%;
    z-index: -1;
}
.contact_us .contact_style3:hover .contact_icon::before {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.contact_us .contact_style3:hover .contact_icon i {
    color: #fff;
}
.contact_us .contact_box {
    position: relative;
    padding: 50px 0px;
    display: table;
    width: 100%;
}
.contact_us .contact_form {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    float: right;
    margin-right: 30px;
    position: relative;
    z-index: 9;
}
.contact_us .contact_box .map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.contact_us .contact_box .map iframe {
    height: 100%;
}
.contact_us  .leads {
    margin-bottom: 30px;
}
.contact_us p {
    color: #687188;
    line-height: 28px;
    margin-bottom: 25px;
}

/*terms conditions*/
.term_conditions h6 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
.term_conditions p, .term_conditions li {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 28px;
}


/*faqs*/
.faqs_page .accordion_style1 .card-header a {
    padding-left: 0;
    padding-top: 0;
    font-weight: 600;
} 

.faqs_page .card-header a {
    padding: 15px 40px 15px 15px;
    display: block;
    line-height: normal;
    color: #000;
    font-weight:800;
    font-size: 18px;
}

.accordion .card .card-header {
    background-color: transparent;
    padding: 0px;
    margin: 0;
    }
.accordion_style1.accordion .card {
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 0;border: 0 !important;

    /* border: 0; */
}
.faqs_page 
.card-body {
    padding: 1.25rem 0;
}
.faqs_page p {
    color: #687188;
    line-height: 28px;
    margin-bottom: 25px;
}



/*Progress bar shippment*/
ol.progtrckr {
    margin: 0 0 25px 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

.delivery_message{margin: 15px 5% !important; display: inline-block; background: #f2f2f2; padding: 10px; }

/*Member Column*/
.member_area{border: #707070 solid 1px; border-radius: 8px; padding: 10px;}
.member_area .mm_photo span{ display: inline-block; border-radius: 180px; overflow: hidden; width: 120px; height: 120px;}
.member_area .mm_photo span img{width: 120px; height: 120px;}
.member_area .mm_products{margin:20px 0 0 0}
.member_area .mm_products .mm_title{font-size: 22px; margin: 10px 0 0 0; }
.member_area .mm_products .mm_price{font-size: 20px; font-weight: 700; color: #E11E26; } 
.mm_products .col-md-6{padding: 0 10px}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #e11e26 !important;
}
.about-service-mt {margin-top:60px}
.about-service-mt .cont {
    position: absolute;
    top: 127px;
    left: 510px;
}
 .about-service-mt .desc .info b {
    display: block;
    font-size: 48px;
    height: 46px;
    color: #ec7612;
}

 .about-service-mt .desc .info p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
        margin: 13px 0 0 0;
}
.about-service-mt .btns {
    padding-top: 5px;
    text-align: center;
}
.about-service-mt .btns a {
    display: inline-block;
    height: 36px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    background: #ec7612;
    border-radius: 2px;
}
.about-service-mt .btns a:hover {
    background: #cc5200;
}
.active_green{background-color: #26a541;
    border: 2px solid #26a541; margin: 1px 4px 0 0;  width: 12px; height: 12px; border-radius: 80px; display: inline-block;}


    /*Selle Login*/
    .seller_login{}
.seller_login .login-block{
    background:url(../img/blur-bg-blue-1.jpg)  no-repeat left bottom; background-size:cover;

width:100%;
margin: 0;
padding :3% 0 0 0;
height: 100vh;
}
.seller_login .banner-sec{background:url(../img/login_bg.jpg)  no-repeat left bottom; background-size:cover; min-height:655px; border-radius: 0 10px 10px 0; padding:0;}

.seller_login .carousel-inner{border-radius:0 10px 10px 0;}
.seller_login .carousel-caption{text-align:left; left:5%;}
.seller_login .login-sec{padding: 50px 30px; position:relative; background: #fff;  border-radius: 10px 0 0 10px;}
.seller_login .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.seller_login .login-sec .copy-text i{color:#e11e26;}
.seller_login .login-sec .copy-text a{color:#E36262;}
.seller_login .login-sec h2{ text-transform: none; margin-bottom:30px; font-weight:800; font-size:30px; color: #e11e26;}
.seller_login .login-sec h2:after{content:" "; width:100px; height:5px; background:#e11e26; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.seller_login .btn-login{background: #e11e26; color:#fff; font-weight:600;}
.seller_login .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.seller_login .banner-text h2{color:#fff; font-weight:600;}
.seller_login .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.seller_login .banner-text p{color:#fff;}
.seller_login .forgotpassword{color: #e11e26;}
.seller_login .nav-tabs .nav-item.show .nav-link, .seller_login .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: transparent !important;
    border-bottom: 1px solid #e11e26 !important;
    color: #e11e26;
}
.seller_login .nav-tabs .nav-link{color: #000}
.uplaod_logo img{width: auto}
.uplaod_logo {text-align: center;}
.uplaod_logo .uplaod{border: dashed #ccc 2px; cursor: pointer; border-radius: 7px; width: 100px; font-size: 55px; color: #ccc; height:100px; margin: 6% auto 0 auto}.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#fff;font-family:sans-serif;font-size:14px;line-height:20px;color:#556270;padding:5px 5px 0;border:1px solid #e6e6e6;border-radius:2px}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag{position:relative;background:#556270;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 5px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ff6b6b;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{background:0 0;display:block;width:100%;font-size:14px;line-height:20px;padding:5px;border:0;margin:0 5px 5px 0}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}
.btn_exporter{text-align: right; margin: 35px 0}
.btn_exporter button{cursor: pointer;}
