.bg-secondary{background:#E11E26 !important;}
.text-secondary{color:#E11E26 !important;}
.btn-secondary{background:#E11E26 !important;}

.primary-color{color: #e11e26 !important;}
.bg-primary{background: #3A3636 !important;}
.text-primary{background: #3A3636 !important;}
.btn-primary{background: #e11e26 !important;}

.color-primary{color: #e11e26 !important;}

/*header*/
header{ -webkit-box-shadow:0 0 2px rgba(0,0,0,.08));
-moz-box-shadow: 0px 0px 2px 0px rgba(230,230,230,1);
box-shadow: 0px 0px 2px 0px rgba(230,230,230,1);}
.top_header {background:#F7F7F9}
.top_header .dropdown-menu a{color: #E11E26}
.top_header .dropdown-menu a:hover{background: #e11e26 !important;
    color: #fff;}
.user_acount a{color:#000; }
.search_area{border: #ccc solid 2px;}
.cart_block ul li a{color: #3A3636}
.list_items_block li a{color: #919191;}
.list_items_block li a:hover{color: #212529;}
.list_items_block li a.active{color: #212529;}
.categories{border:#E11E26 solid 2px; border-radius:15px;}
.categories h1{background:#E11E26;  color: #fff; border-radius:14px 14px 0 0; margin-top: -2px}
.categories ul li a{color:#3A3636;}
.categories ul li a:hover{color:#E11E26;}
.categories .viewall_cat{border-top:#E11E26 solid 2px;  display: block; color: #E11E26;  border-radius:0 0 14px 14px; margin: 2px 0 0 0; text-align: center; padding: 10px; text-transform: uppercase; font-weight: 700} 
.sell_products h3{font-size:24px; margin: 50px 0 0 0; color: #E11E26; font-weight: 600}
.sell_products h4{ color: #E11E26;}
.sell_products a{ background: #E11E26; color: #fff; }


/*three column*/
.sell_products{border: #E11E26 solid  2px; text-align: center;}
.trend_pro_box h3{ color: #AFAFBC; }
.trend_pro_box span{ color: #E11E26;}
.trend_pro_box span.offer_price{ color:#AFAFBC; }
.cat_list li a{color: #3A3636;}
.cat_list li a:hover{color: #E11E26; border-bottom:#E11E26 solid 2px;}
.cat_list li a.active{color: #E11E26; border-bottom:#E11E26 solid 2px;}
.trend_pro_box .new_offer{ background:#A6C76C;}
.trend_pro_box .top_offer{ background:#7DD2EA;}
.trend_pro_box .sale_offer{background: #EF837B}
.trend_pro_box .wishist{ background:#E11E26;}
.trend_pro_box .cart_footer{background: #3A3636;}.three_col2 .text-heading a{border: #ccc solid  1px; color: #3A3636; }
.backtotop{background: #e11e26; color:#fff}
.backtotop a{color:#fff}
.newsletter .content .btn {
background: #e11e26;
color: #fff;
}
.footer a {
    color: #3A3636;
    }
   .footer ul.social li a,
.footer ul.quick-links li a{
    color:#3A3636;
}
.footer ul.social li a:hover{
    color:#eeeeee;
} 
.social_icons a{background: #e11e26; color: #fff !important; }
.social_icons a:hover{background: #000; color: #fff !important; }
.designedby{color: #ccc}
.top_brands a{color: #666!important;}
.search_area button{color: #fff; }	
.three_col .text-heading a{border: #ccc solid  1px; color: #3A3636; }
.today_deals .offers h3{color: #fff; }
.today_deals .offers h4{color: #000;}
.today_deals .offers h5{color: #fff;}
.pp_item .add_cart{  background: #F5F5F5;}
.fashion_products .nav-tabs .nav-link.active {
    color: #E11E26;
    border-left: #E11E26 solid 4px;
    border-top: #DCDBDB solid 1px;
     border-right: #fff solid 1px;
    border-bottom: #DCDBDB solid 1px;
}
.fashion_products .nav-tabs .nav-link {
    color: #3A3636;
    border-top: #DCDBDB solid 1px;
     border: #DCDBDB solid 1px;
    border-bottom: #DCDBDB solid 1px;
}
.fashion_products .tab-content>.active {
    border: #DCDBDB solid 1px;
}
.newsletter {
background: #f2f2f2;
}
.newsletter .content.form-control:focus {
border: 2px solid #243c4f;
}
.pp_item .price span {
    color: #E11E26;
}
.pp_item .price span.offer_price {
    color: #AFAFBC;
}
.three_col2 .col1{background: #EFEFEF; }
.trend_pro_box .cart_footer ul li a{border-right: #464344 solid 1px; color: #fff;}
.today_deals .offers h5{ background: #E11E26; }
.three_col .col1{background: #EFEFEF;}
.categories ul li{border-bottom: #f2f2f2 solid 1px;}
.trend_pro_box{border: #ccc solid 1px; }
.fashion_products .tab-content .col-md-6{border-bottom: #DCDBDB solid 1px; border-right: #ccc solid 1px;}
.products_container .products_wrapper h3{color: #E11E26}
.hover_state{background: rgba(225, 30, 38, 0.97) ; color: #fff;}
.products_container .hover_state h3{color: #fff}
.products_container .hover_state a{background: #fff; color: #000; font-weight: 800;}
.products_container .hover_state .wishlist{background: #FE5246; color: #fff ; }
.products_container .hover_state .view {background: #342d3f;color: #fff;}
.products_container .hover_state .compare{background: #ffbc00 !important; color: #fff ; }
.products_sidebar_menu a{color:#000000;}
.irs--round .irs-bar{background-color: #e11e26 !important;}
.irs--round .irs-handle{border: 4px solid  #e11e26 !important;}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before{border-top-color: #e11e26 !important;}